body{
    font-family: 'Titillium Web', sans-serif;
}
.card-content{
    margin-top: 30px;
    width: 100%;
    .paper{
        padding: 25px;
    }
}
.container-paper{
    margin-top: 20px;
    padding: 20px;
}
.form-field{
    margin-bottom: 15px;
}
sup{
    color: red;
}
.org-height{
    width: 100%;
    height: 250px;
    overflow-y: auto;
}